{% extends 'base/base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-header">
                    Transaction Percentage 
                </div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Recent Transactions
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped transaction-table">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for trans in transaction %}
                                {% if trans.sender == request.user %}
                                <tr>
                                    <td>{{trans.date|date:'d-m-Y'}}</td>
                                    <td>Transfer to {{trans.reciver}}</td>
                                    <td class="text-danger">-PKR {{trans.amount}}</td>
                                    <td><span class="badge badge-success">Completed</span></td>
                                </tr>
                                {% elif trans.reciver == request.user %}
                                <tr>
                                    <td>{{trans.date|date:'d-m-Y'}}</td>
                                    <td>Received from {{trans.sender}}</td>
                                    <td class="text-success">+PKR {{trans.amount}}</td>
                                    <td><span class="badge badge-success">Completed</span></td>
                                </tr>
                                {% endif %}
                                {% empty %}
                                <tr class="card-body">
                                    <td>No Transactions Yet</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}