{% extends 'base/base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-header">
                    Transaction Search
                </div>
                <div class="card-body">
                    <form class="form-inline">
                        <div class="form-group mb-2">
                            <label for="startDate" class="sr-only">Start Date</label>
                            <input type="date" class="form-control" id="startDate" name="start" placeholder="Start Date">
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="endDate" class="sr-only">End Date</label>
                            <input type="date" class="form-control" id="endDate" name="end" placeholder="End Date">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Recent Transactions
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped transaction-table">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for trans in transaction %}
                                {% if trans.sender == request.user %}
                                <tr>
                                    <td>{{trans.date}}</td>
                                    <td>Transfer to {{trans.reciver}}</td>
                                    <td>-PKR {{trans.amount}}</td>
                                    <td><span class="badge badge-success">Completed</span></td>
                                </tr>
                                {% elif  trans.reciver == request.user %}
                                <tr>
                                    <td>{{trans.date}}</td>
                                    <td>Received from {{trans.sender}}</td>
                                    <td>+PKR {{trans.amount}}</td>
                                    <td><span class="badge badge-success">Completed</span></td>
                                </tr>
                                {% endif %}
                                {% empty %}
                                <tr class="card-body">
                                    <td>No Transactions Yet</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
